page-view-approval {
    .record {
        ion-label {
            display: flex;
            flex-direction: row;
            align-items: baseline
        }
    
        ion-icon {
            margin-left: 5px;
        }

        
    }

    ion-badge {
        position: absolute;
        top: -0.4rem;
        right: -0.2rem;
        opacity: 0.9;

        & ~ ion-icon {
            margin-right: 1.2rem;
        }
    }
}
