page-assign-diary {

    .secondTxt{
        font-size: 14px;
    }

    .checked{
        background: #afeeee
    }

    .appBtn{
        width:200px;
    }

    .chip{
        text-align: center;
        width: 100px;
    }


}
