page-add-memo {

    .black_shade{
        
                background-color: #F3EEED;
                border-radius: 5%;
               
        }

        
        ion-auto-complete {
            width: 100%;
          }

          
}


