<!--
  Generated template for the AddMemoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar color='primary'>
    <ion-title>Add Memo</ion-title>

    
  <ion-buttons end >
      <button ion-button (click)='saveMemo()'> Save</button>
</ion-buttons> 

  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid class='black_shade'>
     <ion-row>
          <ion-col col-12>
            <ion-auto-complete [dataProvider]="memoService" [(ngModel)]="this.client" [options]="{ placeholder : 'Search client' }"></ion-auto-complete>
            

            <ion-label stacked>Client Code</ion-label>
            <ion-input type="text" [(ngModel)]="this.client.Id" disabled></ion-input>

            <ion-label stacked>Memo</ion-label>
            <ion-textarea  [(ngModel)]="this.memo.Memo" text-wrap></ion-textarea>
    
          </ion-col>
        </ion-row>
   </ion-grid>

   <br/>

   <ion-grid class='black_shade'>
    <ion-row>
         <ion-col col-4 aling='left'>
           
           <ion-label stacked>Start Time</ion-label>
           <ion-input  [(ngModel)]="this.memo.Start_time" ></ion-input>
         </ion-col>
        <ion-col col-4 aling='left'>
          
           <ion-label stacked>End Time</ion-label>
           <ion-input  [(ngModel)]="this.memo.End_time" ></ion-input>
          


         </ion-col>

         <ion-col col-4 align='center'>
         <button ion-button  *ngIf='this.stopWatchStatus=="start"' (click)='stopTimer()'  color='danger'>Stop</button>
         <button ion-button  *ngIf='this.stopWatchStatus=="stop"' (click)='startTimer()'  color='secondary'>Start</button>
         </ion-col>
       </ion-row>
  </ion-grid>

  <br/>

  <ion-grid class='black_shade'>
    <ion-row>
      <ion-col col-2></ion-col>
         <ion-col col-8 align='center'>
           
           <ion-label stacked>Time Spent</ion-label><br/>
           {{this.timeDiffH}}H  {{this.timeDiffMM}}Min {{this.timeDiffSS}}Sec
         </ion-col>
         <ion-col col-2></ion-col>
       </ion-row>
  </ion-grid>

  <br/>


  <ion-grid class='black_shade'>

      <ion-row>
          <ion-col col-12 >
              <div>
                  <div class="images-wrapper">
                    <div class="image-wrapper" *ngFor="let image of this.displayImgUrl">
                      <ion-icon class="remove-image" name="close" (click)="removeImage(image.data)"></ion-icon>
                      <div class="image" [style.background-image]="image">
                        <img src= {{image.img}} class='uploadImg' alt=""/>
                      </div>
                    </div>
                  </div>
                </div>
            </ion-col>
          </ion-row>

      <ion-row>
           <ion-col col-12 >
            <!-- The "Upload File" button in Android. The File Input element is jus hidden and the button calls the its .click() method -->
            <div *ngIf="!isIOS">
                <ion-row class="buttons-row">
                  <ion-col class="buttons-col">
                    <button ion-button full small icon-left class="top-button" (click)="fileInput.click()">
                      <ion-icon name="folder"></ion-icon>
                      Upload File
                    </button>
                  </ion-col>
                </ion-row>
                <div hidden><input type="file" id="fileUpload" #fileInput (change)="onFileFromStorageChosen($event)" /></div>
              </div>
            
              
              <!-- The "Upload File" button in iOS. The File Input element displayed as transparent and overlayed on top of the button -->
              <div *ngIf="isIOS">
                <ion-row class="buttons-row">
                  <ion-col class="buttons-col">
                    <input type="file" id="fileUpload" class="ios-file-input" (change)="onFileFromStorageChosen($event)" />
                    <button ion-button full small icon-left class="top-button">
                      <ion-icon name="folder"></ion-icon>
                      Upload File
                    </button>
                  </ion-col>
                </ion-row>
              </div>
        </ion-col>
     </ion-row>

    <!--ion-row >
        

      <ion-col col-12 align='center'>
        <div *ngFor='let item of this.displayImgUrl'>
         <img class='uploadImg' (click)="uploadImage()" src= {{item}} >
        </div>
      </ion-col>

   

  </ion-row-->
</ion-grid>




</ion-content>
