<ion-menu [content]="content">



  <ion-header class='menuHeader'> 
  <ion-grid >
     
     <ion-row><ion-col col-12 align='center'><img src='assets/imgs/profile.png' class='profileImg'></ion-col></ion-row>
     <ion-row><ion-col col-12 align='center'>{{this.system}}</ion-col></ion-row>
     <ion-row><ion-col col-12 align='center'>{{this.email}}</ion-col></ion-row>
  </ion-grid>
  </ion-header>

  <ion-content padding>

      <ion-list>
          
          <ion-list-header>
            Main
          </ion-list-header>
       
        <ion-item menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)"> 
            <ion-icon name="{{p.icon}}" item-start></ion-icon>{{p.title}}
        </ion-item>
     
          <ion-list-header>
            Reports
          </ion-list-header>
          
          <ion-item menuClose ion-item *ngFor="let p of reportPages" (click)="openPage(p)"> 
              <ion-icon name="{{p.icon}}" item-start></ion-icon>{{p.title}}
          </ion-item>

      </ion-list>

   

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>